.idea/

.DS_Store

*.pyc

gurobi.log

example/results/

example/figures/

app/results/

app/static/FooTable-2

app/static/bootstrap

app/static/dropzone.js

app/static/jquery-2.0.3.min.js

app/static/jquery-2.0.3.min.map

*.iml