.idea/

.idea/encodings.xml

.idea/misc.xml

.DS_Store

.idea/.name

.idea/modules.xml

.idea/other.xml

.idea/olfactory.iml

.idea/scopes/scope_settings.xml

.idea/testrunner.xml

.idea/vcs.xml

.idea/workspace.xml

*.pyc

gurobi.log

example/results/

example/figures/

app/results/

app/static/FooTable-2

app/static/bootstrap

app/static/dropzone.js

app/static/jquery-2.0.3.min.js

app/static/jquery-2.0.3.min.map

example/IPnotebooks/.ipynb_checkpoints/

.spyderproject